@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>So, There is not supposed to be any privacy for jokes right? I am kidding, this section is for this web's privacy poilicy.</p>
